@media all and (max-device-width: 1200px) {
  .shop-tab {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-device-width: 992px) {
  .shop-tab {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    margin-top: 40%;
  }
}
