/* CERTIFACATE */
body {
  background-color: #09100d;
}
h2 {
  margin: 5%;
  color: #f8f9fa;
  font-weight: 300;
  text-align: center;
}
#rectangle {
  top: -2px;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
  width: 100%;
  height: 100px;
  background-color: #272a2d;
}
#rectanglee {
  position: relative;
  top: 2px;
  transform: scale(-1, -1);
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
  width: 100%;
  height: 100px;
  background-color: #272a2d;
}
.polos {
  transform: scale(1, -1);
}
.imgcerf img {
  border-radius: 40px; /* Радиус скругления */
  box-shadow: var(--box-shadow);
  width: 40%;
}
.imgcerf {
  text-align: center;
}
