/* INDEX-CONTENT */
/*Fon*/
#gallary {
  height: 82vh;
  width: 100%;
  background-color: #09100d;
}
#fix-header {
  z-index: -1;
  width: 100%;
  height: 40%;
  background-color: #09100d;
  position: absolute;
}
/*Photo*/
.Spiral {
  margin-top: 12%;
  display: flex;
  justify-content: center; /*определяет, как браузер распределяет пространство между и вокруг элементов контента вдоль главной оси flex контейнера, или вдоль строчной оси grid контейнера.*/
  align-items: center; /*Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.*/
  position: absolute; /*Положение элемента устанавливается относительно его исходного места. + Изменяеться с помощью top, left.*/
  width: 200px;
  height: 200px;
  left: 43%;
  transform: translate(
    -50%,
    -50%
  ); /*Позволяет расположить элемент точно по центру экрана*/
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.Spiral span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}
.Spiral span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  display: grid;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}
/*Girl*/
.content #girl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
}
.grid-8blok:nth-child(1) {
  grid-column: 1 / 3;
}
.grid-8blok:nth-child(2) {
  display: grid;
  grid-column: 3 / 5;
  text-align: center;
}
#girlName {
  margin-top: 10%;
}
/*Man*/
.content #man {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
}
.grid-8blok:nth-child(1) {
  display: grid;
  text-align: center;
  grid-column: 1 / 3;
}
.grid-8blok:nth-child(2) {
  grid-column: 3 / 5;
}
#man {
  margin-top: 10%;
}
/*Child*/
.content #child {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
}
.grid-8blok:nth-child(1) {
  grid-column: 1 / 3;
}
.grid-8blok:nth-child(2) {
  display: grid;
  grid-column: 3 / 5;
  text-align: center;
}
#child {
  margin-top: 10%;
}
#childName {
  margin-top: 10%;
}
/*Arm*/
.content #arm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
}
.grid-8blok:nth-child(1) {
  display: grid;
  text-align: center;
  grid-column: 1 / 3;
}
.grid-8blok:nth-child(2) {
  grid-column: 3 / 5;
}
#arm {
  margin-top: 10%;
}
/*Child*/
.content #shop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
}
.grid-8blok:nth-child(1) {
  grid-column: 1 / 3;
}
.grid-8blok:nth-child(2) {
  display: grid;
  grid-column: 3 / 5;
  text-align: center;
}
#shop {
  margin-top: 10%;
}
#shopName {
  margin-top: 10%;
}
.text {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  font-size: 1.3vw;
  border: 3px solid #ff0589;
  padding: 4%;
  width: 40%;
  height: 77%;
  text-align: center;
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  margin: auto;
}

/*Button-Girl*/
.position {
  position: relative;
  text-align: center;
  display: inline;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: none;
  color: black;
  background: #ffffff;
  letter-spacing: 2px; /*Растояние между буквами*/
  transition: 0.5s;
}
.position:hover {
  color: #09100d;
}
.position span {
  display: block;
  position: absolute;
  background: #ff0589;
}
.position span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.position:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.position span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.position:hover span:nth-child(2) {
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.5s;
}
.position span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.position:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.position span:nth-child(4) {
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.position:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.sub1 {
  margin: auto;
}
