html, body{
    width: 100%;
    height: 100%;
   }

/* SERVIS */
body{
    background: black;
    color:#FDFDFD;
}
body h2{
    color:#FDFDFD;
}
body p{
    color:#FDFDFD;
}
#Text{
    position: initial;
    text-align: center;
}



#women{
    background-image: url(/img/services/women.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: 2s;
    opacity: 0.65;
    width: 100%;
    height: 100%;
}

#women:hover{
    transition: 2s;
    opacity: 0.9;
}


#men{
    background-image: url(/img/services/men.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: 2s;
    opacity: 0.65;
    width: 100%;
    height: 100%;
}

#men:hover{
    transition: 2s;
    opacity: 0.9;
}




#children{
    background-image: url(/img/services/children.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: 2s;
    opacity: 0.65;
    width: 100%;
    height: 100%;
}


#children:hover{
    transition: 2s;
    opacity: 0.9;
}
